#aboutSection {
    padding-right: 1rem;
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}

@media (max-width: 1284px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
}