#aboutSection {
    padding-right: 1rem;
    padding-left: 1rem;
    background-color: #FEFAE0;
    padding-bottom: 5rem;
}

@media (max-width: 1284px) {
    .row {
        flex-direction: column;
        align-items: center;
    }
}